.names{
    width: 500px;
    margin: auto;
    margin-top: 20px;
}
.head{
    background-color: black;
    color: white;
    font-size: 20px;
}

.search{
display: flex;
justify-content: center;
margin-top: 50px;
}
